<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Amazon Product Scraper Suite">

    <!-- Run with Chrome Browser -->
    <test name="Amazon Chrome Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.AmazonTest"/>
        </classes>
    </test>

    <!-- Run with Firefox Browser -->
    <test name="Amazon Firefox Test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.AmazonTest"/>
        </classes>
    </test>

</suite>
